body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: rgb(27, 27, 27);
}
.container{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square{
    width: 16px;
    height: 16px;
    background-color: black;
    margin: 2px;
}

.square:hover{
    
}